.container{
    height: 33.7rem;
    /* width: ; */
    background-image: linear-gradient(to right, #E9501D1F , #1F8B7B1F, #EBC6621F);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3%;
    /* margin-left: 1.5rem; */
    /* margin-right: 1.5rem; */
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
  }

.dna{
  position: absolute;
  top: -15rem;
  left: 29rem;
  z-index: -1;
  transform: rotate(-20.57deg);
}

.inner_container{
  /* display: flex; */
}
.healthxtext{
  background: linear-gradient(to right,#1F8B7B, #E9501D  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 400;
  font-size: 46.88px;
  margin-left: 2rem;
  margin-top: 2rem;
  /* line-height: 52; */
}
.healthsoltext{
  font-weight: 600;
  font-size: 50.76px;
  color: #E9501D;
  margin-left: 2rem;
}
.foralltext{
  color: #1E1E1E;
  font-weight: 275;
  font-size: 38px;
  margin-left: 2rem;
}
.leftp{
  margin-left: 2rem;
}

.bottom_container{
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  /* justify-self: s; */
  
}

.shimage{
 margin-left: 10rem;
}

.playstore{
  display: inline-block;
  margin-left: 2rem;
}
.button{
  padding:16px 32px 16px 32px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #1F8B7B;
  border: none;
  border-radius: 5px;
  color:white;
  margin-left: 2rem;
  font-size: 18px;
  font-weight: 500;
}
.button2{
  padding:16px 32px 16px 32px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #E9501D;
  border: none;
  border-radius: 5px;
  color:white;
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 500;
}
.smalltext{
  font-size: 15px;
  font-weight: 275;
  line-height: 22.5px;
  margin-left: 2rem;
}